.homedata{
    margin: 5em 0 0 15%;
    display: flex;
    width: 70%;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data h1 {
    font-size: 5vw;
}

.data h2 {
    font-size: 2vw;
}

.dataimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileimg{
    box-shadow: 0 0 30px rgb(140, 0, 255);
    border-radius: 100%;
    width: 20vw;
}

.tecstack {
    margin: 8% 0 0 5%;
}

.tecstack h2 {
    font-size: 1.5vw;
}

.imgpool{
    text-align: center;
}

.tecstack img {
    margin: 0 2%;
    width: 7vw;
    vertical-align: middle;
}

.github {
    filter: invert();
}

